@charset "UTF-8";
html,
body {
  font-family: "Open Sans", sans-serif;
  color: #423d3f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #392068;
}

h1 {
  font-size: 74px;
  font-weight: 700;
  letter-spacing: -3px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

p {
  line-height: 1.6;
  margin: 20px 0;
}

a {
  color: #9895ac;
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  color: #4c4a5e;
}

.dark-content {
  color: whitesmoke;
}

.dark-content h1,
.dark-content h2,
.dark-content h3,
.dark-content h4,
.dark-content h5,
.dark-content h6,
.dark-content p {
  color: whitesmoke;
}

.img-circle {
  border-radius: 50%;
}

.hero-unit {
  background: url("../img/bgpic.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 50px 5px;
}

.hero-unit .hero-unit-subheading {
  color: #ec3a3a;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin-bottom: 45px;
}

.hero-unit p {
  font-size: 17px;
}

.hero-unit h1 span {
  color: #d41e1e;
}

@media only screen and (max-width: 576px) {
  .hero-unit {
    text-align: center;
    background: url("../img/bg-port.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .hero-unit .hero-unit-heading {
    font-size: 43px;
  }
  .hero-unit .hero-unit-subheading {
    font-size: 14px;
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 15px 23px;
}

.btn.btn-primary {
  background: linear-gradient(93.04deg, #ea2626 -21.04%, #0029ff 147.44%);
  border-radius: 4px;
}

.btn:hover {
  background: linear-gradient(93.04deg, #dd0a0a -21.04%, #ffe25f 147.44%);
}

.content-section {
  padding: 80px 0px;
}

.content-section.content-section-centered {
  text-align: center;
}

.content-section.dark-content {
  background: #303848;
}

.content-section.content-section-side-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.content-section.content-section-side-image .content-section-side-image-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 0;
}

.content-section.content-section-side-image .content-section-side-image-container {
  width: 250px;
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 576px) {
  .content-section.content-section-side-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-section.content-section-side-image .content-section-side-image-container {
    width: 100%;
    min-height: 150px;
  }
  .content-section.content-section-side-image .content-section-side-image-heading {
    text-align: center;
  }
}

.contact-form {
  margin-top: 30px;
}

.contact-form .contact-form-input {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 18px 22px;
  font-size: 18px;
}

.contact-form .contact-form-input::-webkit-input-placeholder {
  color: #f0dede;
}

.contact-form .contact-form-input:-ms-input-placeholder {
  color: #f0dede;
}

.contact-form .contact-form-input::-ms-input-placeholder {
  color: #f0dede;
}

.contact-form .contact-form-input::placeholder {
  color: #f0dede;
}

.contact-form textarea.contact-form-input {
  min-height: 160px;
}

.contact-form .contact-form-checkbox-input {
  display: none;
}

.contact-form .contact-form-checkbox-input:checked + .contact-form-checkbox-label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact-form .contact-form-checkbox-label {
  position: relative;
  color: #adabab;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding-left: 50px;
  margin-bottom: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.contact-form .contact-form-checkbox-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.contact-form .contact-form-checkbox-label:after {
  position: absolute;
  left: 8px;
  top: 2px;
  content: "🖤";
  color: #b3221d;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.footer {
  text-align: center;
  background-color: #fadcdc;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 0px;
}
/*# sourceMappingURL=style.css.map */